.container-notes {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

.title-adicional {
  font-size: 20x;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: left;
}
