<div>
  <h1>Crear Nota</h1>

  <form [formGroup]="form" (submit)="registar()">
    <div>
      <label> Titulo: </label>
      <input
        formControlName="title"
        type="text"
        placeholder="Ingrese un titulo"
      />
    </div>

    <div>
      <label> Descripcion: </label>
      <input
        formControlName="description"
        type="text"
        placeholder="Ingrese una descripción"
      />
    </div>

    <div>
      <label> completado: </label>
      <input
        formControlName="complete"
        type="checkbox"
        placeholder="Ingrese una descripción"
      />
    </div>

    <div>
      <label> Información adicional: </label>
      <textarea
        formControlName="adicional"
        type="text"
        placeholder="Ingrese una descripción"
      >
      </textarea>
    </div>

    <button>Registrar</button>
  </form>
</div>
