<article class="card">
  <header>
    <!-- Es el contenido proyectado con el identificador [header] -->
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-outline-danger" (click)="cerrar()">✗</button>
    </div>

    <ng-content select="[header]"></ng-content>
    <h2 class="title">{{ note.title }}</h2>
  </header>

  <p class="description">{{ note.description }}</p>

  <!-- Es el contenido proyectado por defecto -->
  <ng-content></ng-content>

  <footer>
    <small *ngIf="note.isComplete; else incompleta" class="complete">
      Completada
    </small>
    <ng-template #incompleta>
      <small class="incomplete"> Incompleta</small>
    </ng-template>
  </footer>
</article>
